@import url("./colors.css");

html,
body {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
}

* {
  box-sizing: border-box;
}

div {
  height: fit-content;
}

p {
  margin: 0;
  padding: 0;
  height: min-content;
  color: var(--text);
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: larger;
  font-weight: 700;
}

body {
  background-color: var(--background);
  color: var(--text);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 7fr 3fr;
  grid-template-columns: 1.5fr 5fr 2fr;
  grid-template-areas:
    "navbar main main"
    "navbar main main";
  text-align: center;
}

.navbar {
  grid-area: navbar;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
    
}

.navbar-buttons {
  margin-top: 20px;
  background-color: var(--secondary);
  height: 5%;
  width: 90%;
  border-radius: 100px;
  transition: 0.5s ease-in;
}

.navbar-buttons:hover {
  background-color: var(--accent);
  color: white;
}
