html,
body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  height: min-content;
  color: var(--text);
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: larger;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 10fr;
  grid-template-columns: 1.07fr 5fr;
  grid-template-areas: "navbar main";
  text-align: center;
}

.main {
  padding: 10px;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.note:first-child {
  margin-left: 10px;
}

.note {
  margin-right: 30px;
  padding: 0;
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
  width: 160px;
  height: 240px;
  background-color: var(--secondary);

  background: linear-gradient(to left, var(--secondary) 50%, var(--accent) 50%) right;
  background-size: 200%;
  transition: .7s ease-out;
}

.details {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  align-content: flex-end;
  padding-left: 10px;
  padding-bottom: 10px;
}

.note:hover {
  background-position: left;
}
